body {
  background-color: #212121;
  color: aliceblue;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

#user-input {
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 22px;
}
.user-card {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  display: none; /* Initially hidden */
}

.user-card img {
  max-width: 100%;
  border-radius: 50%;
}

.user-card h2 {
  margin: 10px 0;
}

.user-card p {
  color: #666;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

img {
  width: 300px;
  height: 200px;
  background: transparent;
}
